.content{
    border: 0.5em solid gray;
    margin: auto;
    width: 19%;
    padding: 10px;
    background:#22ee;
}
.digit, .operator{
    width: 50px;
    height: 50px;
    margin: 5px;
    font-size: 20pt;
}
#number_field{
    width: 235px;
    height: 30px;
    margin: 5px;
    text-align: right;
    font-size: 20pt;
}